* {
margin: 0;
}

body {
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  color: #333;
  width: 100%;
  margin: 0;
  padding: 0;
}


h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 10px;
  font-size: 75px;
  padding: 30px;
  margin: 10px;
  background-color: rgba(160, 211, 255, 0.45);
}


.searchForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 10px 30px;
  padding: 15px;
  float: left;
}

#city-form{
  margin-bottom: 10px;
}

#search-history{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  letter-spacing: 4px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  padding: 10px;
}


input#city-input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}

button{
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
}

button:hover{
  background-color: #e6e6e6;
}

#search-history h2{
  letter-spacing: 5px;
  font-size: 30px;
  margin: 10px;
  text-decoration: underline double;
}


h2 {
  letter-spacing: 8px;
  font-size: 40px;
}

#city-list{
  letter-spacing: 5px;
  font-size: 20px;
}

#city-list li{
  list-style-type: none;
  margin: 10px;
  text-align: left;
}

#city-list li:hover{
  cursor: pointer;
  text-transform: uppercase;
}

.current-weather{
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 50px;
  padding: 60px;
  width: 90%;
  line-height: 2;
}

#weather-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}


#forecast-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px; 
  flex-wrap: wrap;
  width: 100%;
}


.forecast-card{
  background-image: url(./images/cardback.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
}

.cardBack{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(250, 235, 215, 0.5);
  border-radius: 5px;
  line-height: 2;
  padding: 20px;
}

h3{
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  font-size: 30px;
  margin-top: 50px;
}

.date{
  letter-spacing: 4px;
  font-weight: bold;
}


@media screen and (max-width: 850px) {
  h1 {
    font-size: 50px;
    text-align: center;
    padding: 30px;
    letter-spacing: 2px;
  }


  .searchForm {
    float:none;
    display: flex;
    flex-direction: column;
    align-items: center;

  }


  #forecast-container {
    width: 100%;
  }

  #weather-info{
    margin: 10px;
  }

  .current-weather{
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 70%;
  }

  #search-history{
    margin-top: 25px;
  }

  #search-history h2{
    font-size: 25px;
  }

  .searchForm {
    margin: 10px;
  }

h2 {
  font-size: 30px;
}
  
  button{
    width: 80px;
    height: 40px;
  }
}



@media screen and (max-width: 370px) {
h1 {
  font-size: 35px;
  text-align: center;
}

#search-history h2{
  font-size: 18px;
}



  button {
    width: 70px;
    margin: 0;
  }

  input#city-input {
    width: 150px;
    margin: 0;
  }
}